
html{
  overflow: hidden;
}

.basic {
  width: 100%;
  height: 70px;
}

.navicon img{
  width: 70px;
}

.content{
  width: 100%;
  height: 500px;
}

.main{
  width: 600px;
  background-color: pink
}

table{
  margin-top: 10px
}

@media(max-width: 730px){
  /*.main{
    font-size: 10px;
    width: 200px
  }
  .content{
    display: grid;
    justify-content: start;
  }*/

  .main{
    width: 300px;
  }
  table{
    background-color: red;
  }
  thead{
    background-color: red;
  }
}