
html{
  overflow: hidden;
}

.basic {
  width: 100%;
  height: 70px;
}

.navicon img{
  width: 70px;
}

.content{
  width: 100%;
  height: 500px;
  display: grid;
  place-items: center;
}

.main{
  
}

.tablee{
  margin-top: 10px;
}

@media(max-width: 730px){
  /*.main{
    font-size: 10px;
    width: 200px
  }
  .content{
    display: grid;
    justify-content: start;
  }*/

  .tablee{
    font-size: 9px;
  }
  .main{
    width: auto;
    overflow-x: hidden;
    
  }
  table{
    margin: 10px;
    width: 100%;
  }

  thead{
    color: black;
    width: 100%;
  }
  .content{
    width: 93%;
  }
}